services:

  # authentication
  authentication-service:
    depends_on:
      - rabbitmq
    build:
      context: .
      args:
        COMMON_DIR: ./common
        SRC_DIR: ./services/authentication/src
      dockerfile: ./services/authentication/Dockerfile

    ports:
      - "3001:3000"

  # users
  users-service:
    depends_on:
      - rabbitmq
      - user-db
    build:
      context: .
      args:
        COMMON_DIR: ./common
        SRC_DIR: ./services/users/src
      dockerfile: ./services/users/Dockerfile
    ports:
      - "3002:3000"
    environment:
      - DATABASE_URI=mongodb://user-db:27019/users

  user-db:
    image: mongo
    volumes:
      - user-db-data:/data/db
    ports:
      - "27019:27017"


  # logging
  logging-service:
    depends_on:
      - rabbitmq
      - logging-db
    build:
      context: .
      args:
        COMMON_DIR: ./common
        SRC_DIR: ./services/logging/src
      dockerfile: ./services/logging/Dockerfile
    ports:
      - "3003:3000"
    environment:
      - DATABASE_URI=mongodb://logging-db:27017/logging

  logging-db:
    image: mongo
    volumes:
      - logging-db-data:/data/db
    ports:
      - "27017:27017"

  # projects
  projects-service:
    depends_on:
      - rabbitmq
      - projects-db
    build:
      context: .
      args:
        COMMON_DIR: ./common
        SRC_DIR: ./services/projects/src
      dockerfile: ./services/projects/Dockerfile
    ports:
      - "3004:3000"
    environment:
      - DATABASE_URI=mongodb://projects-db:27018/projects

  projects-db:
    image: mongo
    volumes:
      - projects-db-data:/data/db
    ports:
      - "27018:27017"

  # categories
  categories-service:
    depends_on:
      - rabbitmq
      - categories-db
    build:
      context: .
      args:
        COMMON_DIR: ./common
        SRC_DIR: ./services/categories/src
      dockerfile: ./services/categories/Dockerfile
    ports:
      - "3005:3000"
    environment:
      - DATABASE_URI=mongodb://categories-db:27018/categories

  categories-db:
    image: mongo
    volumes:
      - categories-db-data:/data/db
    ports:
      - "27020:27017"

  # donations
  donations-service:
    depends_on:
      - rabbitmq
      - donations-db
    build:
      context: .
      args:
        COMMON_DIR: ./common
        SRC_DIR: ./services/donations/src
      dockerfile: ./services/donations/Dockerfile
    ports:
      - "3006:3000"
    environment:
      - DATABASE_URI=mongodb://donations-db:27018/donations

  donations-db:
    image: mongo
    volumes:
      - donations-db-data:/data/db
    ports:
      - "27021:27017"

      # rabbit
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"   # RabbitMQ messaging
      - "15672:15672" # RabbitMQ management interface

  # gateway
  api-gateway:
    build:
      context: ./apiGateway
    ports:
      - "80:80"
    depends_on:
      - authentication-service
      - users-service
      - projects-service
      - logging-service
#  project-service:
#    build: ./services/project-service
#    ports:
#      - "3002:3000"
#  db:
#    image: mongo
#    ports:
#      - "27017:27017"


volumes:
  logging-db-data:
  user-db-data:
  projects-db-data:
  categories-db-data:
  donations-db-data: