services:
  authentication-service:
    build: ./services/authentication
    ports:
      - "3001:3000"
  users-service:
    build:
      context: .
      args:
        COMMON_DIR: ./common
        SRC_DIR: ./services/users/src
      dockerfile: ./services/users/Dockerfile
    ports:
      - "3002:3000"
  logging-service:
    build:
      context: .
      args:
        COMMON_DIR: ./common
        SRC_DIR: ./services/logging/src
      dockerfile: ./services/logging/Dockerfile
    ports:
      - "3003:3000"
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"   # RabbitMQ messaging
      - "15672:15672" # RabbitMQ management interface
#  project-service:
#    build: ./services/project-service
#    ports:
#      - "3002:3000"
#  db:
#    image: mongo
#    ports:
#      - "27017:27017"
