services:
  authentication-service:
    build: ./services/authentication
    ports:
      - "3001:3000"
#  project-service:
#    build: ./services/project-service
#    ports:
#      - "3002:3000"
#  db:
#    image: mongo
#    ports:
#      - "27017:27017"
